
{%- set device_id = widget_options['output'].split(",")[0] -%}
{%- set measurement_id = widget_options['output'].split(",")[1] -%}
{%- set channel_id = widget_options['output'].split(",")[2] -%}

{% set is_pwm = [] -%}
{% set is_ezo_pump = [] -%}
{% for each_output in output if each_output.unique_id == device_id %}
  {% if each_output.output_type in output_types['pwm'] %}
    {%- do is_pwm.append(1) %}
  {% elif each_output.output_type in ['atlas_ezo_pmp'] %}
    {%- do is_ezo_pump.append(1) %}
  {% endif %}
{% endfor %}

<div class="pause-background" id="container-output-{{each_widget.unique_id}}" style="height: 100%; text-align: center">
  {%- if widget_options['enable_value'] -%}
  <span style="font-size: {{widget_options['font_em_value']}}em" id="value-{{each_widget.unique_id}}"></span>
  {%- else -%}
  <span style="display: none" id="value-{{each_widget.unique_id}}"></span>
  {%- endif -%}

  {%- if dict_measure_units[measurement_id] in dict_units and
         dict_units[dict_measure_units[measurement_id]]['unit'] and
         widget_options['enable_unit'] -%}
    {{' ' + dict_units[dict_measure_units[measurement_id]]['unit']}}
  {%- endif -%}

  {%- if widget_options['enable_value'] or widget_options['enable_unit'] -%}
  <br/>
  {%- endif -%}

  {%- if widget_options['enable_timestamp'] -%}
  <span style="font-size: {{widget_options['font_em_timestamp']}}em" id="timestamp-{{each_widget.unique_id}}"></span>
  {%- else -%}
  <span style="display: none" id="timestamp-{{each_widget.unique_id}}"></span>
  {%- endif -%}

  {% if widget_options['enable_output_controls'] %}

  <div class="row small-gutters" style="padding: 0.3em 1.5em 0 1.5em">
    {% if not is_pwm and not is_ezo_pump -%}

    <div class="col-auto">
      <input class="btn btn-sm btn-primary turn_on" id="turn_on" name="{{each_widget.unique_id}}/{{device_id}}/{{channel_id}}/on/sec/0" type="button" value="{{dict_translation['on']['title']}}">
    </div>

    {%- endif %}

    <div class="col-auto">
      <input class="btn btn-sm btn-primary turn_off" id="turn_off" name="{{each_widget.unique_id}}/{{device_id}}/{{channel_id}}/off/sec/0" type="button" value="{{dict_translation['off']['title']}}">
    </div>

    {% if is_pwm %}

    <div class="col-auto">
      <input class="form-control-sm" id="duty_cycle_on_amt_{{each_widget.unique_id}}_{{device_id}}_{{channel_id}}" name="duty_cycle_on_amt_{{each_widget.unique_id}}_{{device_id}}_{{channel_id}}" title="Select the PWM duty cycle (0.0 - 100.0)" type="number" step="any" value="" placeholder="% Duty Cycle">
    </div>
    <div class="col-auto">
      <input class="btn btn-sm btn-primary duty_cycle_on_amt" id="turn_on" name="{{each_widget.unique_id}}/{{device_id}}/{{channel_id}}/on/pwm/" type="button" value="{{_('PWM On')}}">
    </div>

    {% else %}

    <div class="col-auto">
      <input class="form-control-sm" id="sec_on_amt_{{each_widget.unique_id}}_{{device_id}}_{{channel_id}}" name="sec_on_amt_{{each_widget.unique_id}}_{{device_id}}_{{channel_id}}" title="Turn this output on for this value (seconds, ml, etc.)" type="number" step="any" value="">
    </div>
    <div class="col-auto">
    {% if is_ezo_pump %}
      {%- if dict_measure_units[measurement_id] in dict_units and
             dict_units[dict_measure_units[measurement_id]]['name'] -%}
      <input class="btn btn-sm btn-primary output_on_amt" id="turn_on" name="{{each_widget.unique_id}}/{{device_id}}/{{channel_id}}/on/sec/" type="button" value="{{dict_units[dict_measure_units[measurement_id]]['name'] + ' ' + _('Out')}}">
      {% endif %}
    {% else %}
      <input class="btn btn-sm btn-primary output_on_amt" id="turn_on" name="{{each_widget.unique_id}}/{{device_id}}/{{channel_id}}/on/sec/" type="button" value="{{_('Sec On')}}">
    {% endif %}
    </div>

    {% endif %}

  </div>

  {% endif %}

</div>
